/* CSS for DiscussionDashboardXBlock */

.discussion_dashboard_block .count {
    font-weight: bold;
}

.discussion_dashboard_block p {
    cursor: pointer;
}

#tableData th :hover {
   background: #AAA;
   cursor: pointer;
}
