{% load i18n %}
<div class="discussion_dashboard_block">
<h2>{{ display_name }}</h2>
<div>
        <label style="vertical-align: top;">Discussion Topic:</label>
         <select name="discussion_topic_list" id="discussion_topic_id">
                {% for discussion in discussion %}
                        <option value="{{discussion.id}}">{{discussion.name}}</option>
                {% endfor %}
         </select>
        <div id="loader"></div>
        <div id="thread_details" style="display: none"></div>
</div>
        <table id="tableData" style="width:100%;margin-top: 10px;" border = "1" >
                 <thead style="line-height:30px; background:lightgray;">
                        <th>Username</th>
                        <th>Threads</th>
                        <th>Comments</th>
                 </thead>
                <tbody id="tableBody">
                </tbody>
                <div id="noThread"></div>
        </table>
</div>
