{% load i18n %}
<div class="discussion_dashboard_block">
<h2>{{ display_name }}</h2>
<div>
        <label style="vertical-align: top;">Discussion Topic:</label>
         <select name="discussion_topic_list" id="discussion_topic_id">
                {% for discussion in discussion %}
                        <option value="{{discussion.id}}">{{discussion.name}}</option>
                {% endfor %}
         </select>
</div>
        <table id="tableData" style="width:100%;margin-top: 10px;" border = "1" >
                 <thead style="line-height:30px; background:lightgray;">
                        <th>Username</th>
                        <th>Threads</th>
                        <th>Comments</th>
                 </thead>
                <tbody id="tableBody">
                {% if threads %}
                    {% for key, value in threads.items %}
                        <tr>
                            <td><a href="{{ value.url }}">{{ value.full_name }}</a></td>
                            <td>{{ value.thread_count }}</td>
                            <td>{{ value.comments_count}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <div id = "emptyThread"><p>{% trans "There are not yet any participation for the discussion topic selected." %} </p> </div>
                {% endif %}
                </tbody>
        </table>
</div>

